---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    exclude: ^(data-.*|tags/)
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        args: [--whitespaces-count, '4']