# IDE and Editor files
*.code-workspace
.vscode/
.idea/

# OS-specific files
.DS_Store

# Environment and secrets
.env

# Ignition configuration files (generated at runtime)
**/ignition.conf
**/logback.xml

# Project conversion and migration logs
**/projects/conversion-report.txt
**/.resources/

# Ignore built-in Perspective theming files
**/modules/com.inductiveautomation.perspective/fonts/Merriweather
**/modules/com.inductiveautomation.perspective/fonts/NotoSans
**/modules/com.inductiveautomation.perspective/fonts/Roboto
**/modules/com.inductiveautomation.perspective/icons
**.digest.json
